{% extends 'base.html.twig' %}

{% block title %}
    Hello ProductosController!
{% endblock %}

{% block body %}
    <section>
        <div class="container d-flex justify-content-center">
            <div class="row p-4 w-75 shadow m-auto">
                <h5>Crear Cateogía</h5>
                <form id="frmCategory" class="row g-3" action="" method="POST" enctype="multipart/form-data">
                    <div class="col-12">
                        <label for="txtCategory" class="form-label">Categoría</label>
                        <input type="text" class="form-control" id="txtCategory">
                    </div>
                    <div class="col-12">
                        <label for="txtDiscount" class="form-label">Descuento</label>
                        <input type="number" class="form-control" id="txtDiscount">
                    </div>
                    <div class="col-12">
                        <label for="txtStartDate" class="form-label">Fecha Inicio</label>
                        <input type="date" class="form-control" id="txtStartDate">
                    </div>
                    <div class="col-12">
                        <label for="txtEndDate" class="form-label">Fecha Fin</label>
                        <input type="date" class="form-control" id="txtEndDate">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary col-3">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script type="module" src="{{ asset('assets/js/admin/category/index.js') }}"></script>
{% endblock %}